 <head>
    <title>Dark Souls Beyond</title>
  </head>
<body>

<h2>Create Character:</h2>

<form action='/characters' method="POST">
  <label>Name</label><br>
  
  <input type="name" name="name"><br>
  
  <label>Class</label><br>
 
  <input list="subclass" name="subclass"><br>
    <datalist id="subclass">
    <option value="Cleric">
    <option value="Warrior">
    <option value="Thief">
    <option value="Deprived">
    <option value="Sorcerer">
  </datalist>
  
  
  <label>Gender</label><br>
  
  <input list="gender" name="gender">
    <datalist id="gender">
    <option value="Male">
    <option value="Female">
  </datalist>
  
  <input type="submit" value="Create">
</form>


    <img src="https://i.pinimg.com/474x/d7/4b/ba/d74bba22f2838922fb7bb5c2744d431b--dark-souls--armor-videogames.jpg">
    
    
</body>
