 <head>
    <title>Dark Souls Beyond Edit Character</title>
  </head>
<body>

<h2>Edit Character:</h2>

<form action='/characters' method="POST">
  
  Change <%=@character.name%> to:<br>
  
  <input type="name" name="name"><br>
  
  Change <%=@character.subclass%> to:<br>
 
  <input list="subclass" name="subclass"><br>
    <datalist id="subclass">
    <option value="Cleric">
    <option value="Warrior">
    <option value="Thief">
    <option value="Deprived">
    <option value="Sorcerer">
  </datalist>
  
  
  Change <%=@character.gender%> to:<br>
  
  <input list="gender" name="gender">
    <datalist id="gender">
    <option value="Male">
    <option value="Female">
  </datalist><br>
  
  <input type="submit" value="Edit">
  </form>
    
</body>
