"Your character list
<br>
"your character:  <%=@character.name%>, is a <%=@character.subclass%>, <%=@character.gender%>."
<br>

<a herf="/character/edit">Edit</a><br>
<a herf="/character/delete">Delete</a>