"Your character list
<br>
"your character:  <%=@character.name%>, is a <%=@character.gender%>, <%=@character.subclass%>."
<br>

<a href="/characters/edit">Edit</a><br>
<a href="/characters/delete">Delete</a>